
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hakkımda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center" style="background-color: #FFCCFF" >
    <h1>YUNUS EMRE ÖZTÜRK</h1>
    <p>emreyunus616195@gmail.com</p>
    <p>tahiroglusoftware61@gmail.com</p>
    <p>github.com/emreyunus61</p> 
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>KARİYER HEDEFİ</h3>
        <p>✽Teknik bilgi ve becerilerimi ortaya koyup faydalı olabileceğim ve bunları geliştirebileceğim,
         çalıştığım kurumun heddeflerine ulaşabilmesi için görev alabileceğim ve problem çözme
       yeteneğimi kullanabileceğim bir pozisyonda başarılı işler yapmak istiyorum</p>
     </div>
     <div class="col-sm-4">
      <h3>EĞİTİM BİLGİLERİ</h3>
      <p>✽2015-2019     Fırat Üniversitesi-Yazılım mühendisliği </p>
      <p>✽2010-2014 Sürmene Anadolu lisesi </p>
      <p>✽2002- 2010 Çifteköprü İlköğretim Okulu   </p>



    </div>
    <div class="col-sm-4">
      <h3>İŞ DENEYİMİ</h3>        
      <p>✽2019 -2019 Ktü Teknokent
      Teknar Yazılım A.Ş. Stajyer Mühendis</p>
      <p>✽2018 -2018 Fırat Üniversitesi Teknokent
      Netix Bilişim A.Ş. Stajyer Mühendis</p>
    </div>
  </div>
</div>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>SERTİFİKALAR</h3>
      <p>✽2019 Fırat Üniversitesi Eğitim Fakültesi Pedagojik Formasyon</p>
      <p>✽2018 Acm Fırat Öğrenci Topluluğu Code Evening </p>
      <p>✽2017 Turkcell Test Mühendisliği ve Yazılımda Kalite</p>
      <p>✽2017 Softtech Teoriden Pratiğe Yazılım Teknolojileri ve Süreçleri</p>
      <p>✽2017 Mühendislikte Kalite</p>
    </div>
    <div class="col-sm-4">
      <h3>YETKİNLİKLER</h3>
      <p>✽Ruby on Rails(Orta seviye)  </p>
      <p>✽Java (İyi Düzeyde) ✽ C# (İyi Düzeyde)✽Python(Orta Seviye)✽C(Orta Seviye)✽ Php(Orta Seviye)✽ Kotlin(Orta Seviye) </p>
      <p>✽Sqlite(İyi Düzeyde) ✽ MySQl(İyi Düzeyde)</p>
      <p>✽Android Studio(İyi Düzeyde) ✽ Unity3D(İyi Düzeyde)✽ Visual Studio(İyi Düzeyde)
      ✽  Matlab(Orta Seviye) </p>
      <p>✽Git/Github(İyi Düzeyde) ✽  Trello(İyi Düzeyde) </p>
      <p>✽Orta Seviye Mesleki İngilizce  </p>

    </div>
    <div class="col-sm-4">
      <h3>HOBİLER</h3>        
      <p>✽Bilimsel Araştırmalar</p>
      <p>  ✽Futbol </p>
      <p> ✽Masa Tenisi </p>
      <p>✽Tiyatro </p>
      <p>✽Kitap Okuma </p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="background-color: #fffccc" >
  <h3>PROJELER</h3>
  <p> ✽Büyük Olanı Seç  (Unity3d ile geliştirildi.) <a href="https://play.google.com/store/apps/details?id=com.Tahiroglu.BuyukOlanBul">incele</a></p>
  <p>✽ÇarpımTablosu (Unity3d ile geliştirildi.) <a href="https://play.google.com/store/apps/details?id=com.Tahiroglu.CarpimTablosu">incele</a></p> 
  <p> ✽Ufolara Karşı (Libgdx oyun motoru ile java kullanılarak Android studio da geliştirildi.) <a href="https://www.youtube.com/watch?v=upZzXrmXMwQ">incele</a></p>
  <p>✽Escape Way (Java ile Jframe kullanılarak Netbeans de geliştirildi.) <a href="https://www.youtube.com/watch?v=aBOYbPv4MzA">incele</a></p>
  <p>✽3D War Tank (Unity3d ile geliştirildi.)<a href="https://www.youtube.com/watch?v=XshpZrM76PM">incele</a></p>
  <p>✽Tuğla Patlatma, Flapy bird tarzında oyun, Bilgi yarışması oyunu (Unity3d ile geliştirildi,
  yayınlanmak üzere)</p>
  <p>✽Düşmansavar Projesi (Opencv kütüphanesi kullanılarak Rasberry Pi’de python kullanılarak
    geliştirildi.) <a href="https://www.youtube.com/watch?v=t490BtQjEy4">incele</a> </p>
    <p>✽Troid Nodülü Tespiti (Matlab ile geliştirildi.)</p>
    <p>✽Öğrenci Yurt Otomasyonu (Php ile geliştirildi.)
    </p>
    <p>✽Yüz Tanıma ile Yoklama Sistemi (Java ile Android Studio geliştirildi.)</p>
  </div>

</body>
</html>