   
 <center><h3>Arama Sonucu</h3></center>
<br>

 <div class="jumbotron text-center" style="background-color: #FFCCFF" >
    
 <% if  ! params[:q].blank? %> 

    <% @results.each do |result| %>  

    
        <%= result.yazar %><br>  

        <%= result.soz %><br>  

   
    <% end %>


<% else %>

<div class="alert alert-warning" style="background-color: #FFCCFF">
  <strong>Uyarı!</strong> Aradığınız Yazar Bulunamadı.

 	
 </div>
    <% end %>

  </div>


