<br>


 
<div class="row"   style="height:height; width: auto; border: 1px solid red ;margin: 0 auto ">
	<% @sozlers.each do |sozler| %>


<div class="card col-md-auto  "  style="width: 17rem;height:18rem; float: left;overflow: auto;margin: 5px auto ">

	
	<div class="card-body" style="background-color: #FFCCFF">

		<div class="card" style="border: none;background-color:#FFCCFF">
		
		<div class="card-body text-center">
			<h5 class="card-title"> <%= sozler.yazar %></h5>
			<br/> 
			<p class="card-text"><%= sozler.soz %></p>

		</div>
	</div>
</div>
</div>
<% end %>
<div  style="clear: both;">   </div>
</div>

		
