<br>



<div style="height:height; width: auto; margin: 10px auto">
	<% @sozlers.each do |sozler| %>


<div class="card m-2"  style="width: 15rem;height:18rem; float: left;overflow: auto;">

	
	<div class="card-body" style="background-color: #FFCCFF">

		<div class="card" style="border: none;background-color:#FFCCFF">
		
		<div class="card-body text-center">
			<h5 class="card-title"> <%= sozler.yazar %></h5>
			<br/> 
			<p class="card-text"><%= sozler.soz %></p>

		</div>
	</div>
</div>
</div>
<% end %>
<div  style="clear: both;">   </div>
</div>

		
